<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Crawler</title>
    {% endif %}

    {% block head %} {% endblock %}
</head>

<body>
    <nav>
        <h4 class='nav-logo'><a href="/">CRAWLER</a></h4>
        <ul class="nav-bar">
            <li><a class="nav-item" href="/">Start a New Search</a></li>
            <li><a class="nav-item" href="/chart">How It Works?</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
        </ul>
    </nav>
    
        {% block content %}{% endblock content %}
    </div>
</body>

</html>