{% extends 'base.html' %}

{% block head %}
    
{% endblock head %}


{% block content %}
<div class="search">
    <form action="/search" method="get">
        <div class="search-box">
                <input type="text" class="search-text" name="key" placeholder="Enter Search Keyword">
                <button name type="submit"><img class="icon" height="25" src="{{ url_for('static', filename='imgs/search.png') }}"/></button>
        </div>
        <div class="stemmer">
            <input type="" name="" id="">
        </div>
    </form>
 </div>
{% endblock content %}