*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #20639B;
    align-items: center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-right: 60px;
}

.nav-bar>li{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 7px;
    list-style: none;
    transition: 0.3s;
}

.nav-bar>li:hover{
    background-color: #173F5F;
    transition: 0.3s;
}

.nav-bar a{
    text-decoration: none;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-logo{
    font-size: 18pt;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-right: 10vw;
} 

.nav-logo a{
    text-decoration: none;
    color: white;
}